<div id="viewport">

    <div id="topToolbox" style="height:10% !important">
        <app-dicom-toolbar [dicomViewer]="dicomViewer" *ngIf="dicomViewer"></app-dicom-toolbar>
    </div>

    <div id="leftToolbox">
        <div *ngFor="let thumbnail of thumbnails">
            <img class="thumbnail" [src]="thumbnail.src"/>
            <div class="seriesDiscription">{{ thumbnail.title }}</div>
        </div>
    </div>

    <div id="webgl">
        <div *ngIf="instance != null">
            <div class="unselectable tag-ww">
                ww {{ instance.ww }}
            </div>

            <div class="unselectable tag-wc">
                wc {{ instance.wc }}
            </div>
        </div>
    </div>
</div>