<div id="viewport">

    <div id="topToolbox" style="height:10% !important">
        <app-dicom-toolbar [dicomViewer]="dicomViewer" *ngIf="dicomViewer != undefined && dicomViewer.instance != undefined"></app-dicom-toolbar>
    </div>

    <div id="leftToolbox">
        <div *ngFor="let thumbnail of thumbnails">
            <img class="thumbnail" [src]="thumbnail.src"/>
            <div class="seriesDiscription">{{ thumbnail.title }}</div>
        </div>
    </div>

    <div id="webgl">
        <div id="annotations" *ngIf="dicomViewer.annotations">
            <div class="unselectable tag-patient-name">
                {{ dicomViewer.annotations.patientName }}
            </div>

            <div class="unselectable tag-ww">
                WW {{ dicomViewer.annotations.ww }}
            </div>

            <div class="unselectable tag-wc">
                WC {{ dicomViewer.annotations.wc }}
            </div>

            <div class="unselectable tag-zoom">
                ZOOM {{ dicomViewer.annotations.zoom }}
            </div>

            <div class="unselectable tag-institution-name">
                {{ dicomViewer.annotations.institutionName }}
            </div>

            <div class="unselectable tag-frame">
                {{ dicomViewer.annotations.frame }}
            </div>
        </div>
    </div>
</div>