<div id="viewport">

    <div id="topToolbox" style="height:10% !important">
        <app-dicom-toolbar [dicomViewer]="dicomViewer" *ngIf="dicomViewer"></app-dicom-toolbar>
    </div>

    <div id="leftToolbox">
        <img id="img" style="width:100%"/>
    </div>

    <div id="webgl">
        <div *ngIf="instance != null">
            <div class="unselectable tag-ww">
                ww {{ instance.ww }}
            </div>

            <div class="unselectable tag-wc">
                wc {{ instance.wc }}
            </div>
        </div>
    </div>
</div>