#viewport {
    position: absolute !important;
    height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    background-color: black;
}

#topToolbox {
    height: 10% !important;
    width: 100%;
    float: right;
    background-color: #010c1c;
}

#leftToolbox {
    height: 90%;
    width: 10%;
    float: left;
    background-color: #010c1c;
}

.thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width:95% !important;
    margin-left: auto;
    margin-right: auto;
}


.seriesDiscription {
    color: white;
    text-align: center;
}

#webgl {
    height: 90%;
    width: 90%;
    float: right;
}

#annotations {
    position: absolute;
    height: 100%;
    width: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-ww {
    position: absolute;
    right: 10%;
    bottom: 16%;
    color: yellow;
}

.tag-wc {
    position: absolute;
    right: 10%;
    bottom: 13%;
    color: yellow;
}

.tag-zoom {
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: yellow;
}

.tag-patient-name {
    position: absolute;
    left: 50px;
    top: 30px;
    color: yellow;
}

.tag-institution-name {
    position: absolute;
    right: 10%;
    top: 30px;
    color: yellow;
}

.tag-frame {
    position: absolute;
    left: 50px;
    bottom: 10%;
    color: yellow;
}
