<div>
  <table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Instituition</th>
            <th>Referring Physician Name</th>
            <th>Study Date</th>
            <th>Study Time</th>
            <th>Study Description</th>
            <th>Number of Series</th>
            <th>Number of Images</th>
            <th>View</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
</div>
