<div>
  <table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Instituition</th>
            <th>Referring Physician Name</th>
            <th>Study Date</th>
            <th>Study Time</th>
            <th>Study Description</th>
            <th>Number of Series</th>
            <th>View</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let study of studyList; let i = index">
            <td>{{i}}</td>
            <td>{{study.institutionName}}</td>
            <td>{{study.referringPhysicianName}}</td>
            <td>{{study.studyDate}}</td>
            <td>{{study.studyTime}}</td>
            <td>{{study.studyDescription}}</td>
            <td>{{study.numberSeries}}</td>
            <td><button (click)="viewStudy(study)">ver</button></td>
        </tr>
    </tbody>
  </table>  
</div>

<ngx-smart-modal #myModal identifier="myModal" customClass="full-modal">
    <app-viewport *ngIf="myModal.hasData()" [study]="myModal.getData()" ></app-viewport>
</ngx-smart-modal>
