#viewport {
    position: absolute !important;
    height: 100% !important;
    height: 100% !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
}

#topToolbox {
    height: 50px !important;
    width: 100% !important;
    float: both;
    background-color: darkslategrey;
}

#leftToolbox {
    height: 100%;
    width: 10%;
    float: left;
    background-color: darkslategrey;
}

#webgl {
    height: 90%;
    width: 90%;
    float: right;
}

tag {
    position: absolute;
    right: 100px;
    bottom: 100px;
    color: yellow;
}