<div id="viewport">

    <div id="topToolbox" style="height:10% !important">
        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faAdjust" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faLayerGroup" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faArrowsAlt" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faSearchPlus" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faArrowsAltH" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faSquare" size="1x" [fixedWidth]="true"></fa-icon>
        </div>

        <div class="pure-button dicom-tool-button">
            <fa-icon [icon]="faCircle" size="1x" [fixedWidth]="true"></fa-icon>
        </div>
    </div>

    <div id="leftToolbox">

    </div>

    <div id="webgl">
        <div *ngIf="instance != null">
            <div class="unselectable tag-ww">
                ww {{ instance.ww }}
            </div>

            <div class="unselectable tag-wc">
                wc {{ instance.wc }}
            </div>
        </div>
    </div>
</div>