.full-modal {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
}

.full-modal > .nsm-content {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !important;
    height: 100% !important;
    max-height: 100% !important;
    background-color: black;
    overflow: hidden;
}